/* ============================================== */
/* variables */
/* ============================================== */
:root {
/* effects */
--effect: grayscale(1);
--effect: none;

/* brand colors */
--brand-color-1:#552730;
--brand-color-2:#FAAE40;
--brand-color-3:#E3E3E3;

/* accent colors */
--accent-color-1:  #264653ff; /* charcoal */
--accent-color-2:  #095256ff; /* deep-jungle-green */
--accent-color-3:  #fcb040ff; /* yellow-orange */
--accent-color-4:  #f3ca40ff; /* saffron */
--accent-color-5:  #e3de8fff; /* green-yellow-crayola */
--accent-color-6:  #001524ff; /* rich-black-fogra-29 */

--accent-color-7:  #ca5310ff; /* burnt-orange */
--accent-color-8:  #bb4d00ff; /* mahogany */
--accent-color-9:  #8f250cff; /* kobe */
--accent-color-10:  #691e06ff; /* liver-organ */
--accent-color-11:  #ffcf99ff; /* deep-champagne */

/* gradients */


}
