/* ============================================== */
/* variables */
/* ============================================== */
:root {
	/* effects */
	--effect: grayscale(1);
	--effect: none;

	/* brand colors */
	--brand-color-1:#552730;
	--brand-color-2:#FAAE40;
	--brand-color-3:#E3E3E3;



	/* https://coolors.co/264653-095256-fcb040-f3ca40-e3de8f-001524 */
	--charcoal: hsla(197, 54%, 33%, 1);
	--accent-color-1: hsla(197, 54%, 33%, 1);

	--deep-jungle-green: hsla(183, 90%, 34%, 1);
	--accent-color-2: hsla(183, 90%, 34%, 1);

	--yellow-orange: hsla(36, 75%, 99%, 1);
	--accent-color-3: hsla(36, 75%, 99%, 1);

	--saffron: hsla(46, 74%, 95%, 1);
	--accent-color-4: hsla(46, 74%, 95%, 1);

	--green-yellow-crayola: hsla(56, 37%, 89%, 1);
	--accent-color-5: hsla(56, 37%, 89%, 1);

	--rich-black-fogra-29: hsla(205, 100%, 14%, 1);
	--accent-color-6: hsla(205, 100%, 14%, 1);
}
