/* ============================================== */
/* START Custom Styles for Development */
/* ============================================== */

/* ============================================== */
/* START Helpful design tool */
/* ============================================== */
/* li { border: 1px dashed orange;} */
/* li div { border: 1px dashed green;} */
/* .short-description-wrapper { border: 1px dashed red;} */



/* ============================================== */
/* START keyframes */
/* ============================================== */
@keyframes upload-shadow-pulse
{
	0% {
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
	}
	100% {
		box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
	}
}

@keyframes add-to-cart-shadow-pulse
{
	0% {
		box-shadow: 0 0 0 0px rgba(255, 255, 255, .5);
	}
	100% {
		box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
	}
}


/* ============================================== */
/* START global styles */
/* ============================================== */
/* body */
body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Helvetica Neue",Arial,sans-serif;}
/* body{ font-size:calc(13px + .8vw); }
@media screen and (min-width:1600px) {
	body{ font-size: 22px; }
} */

/* layout */
.center {text-align: center;}
.hide,.hidden,.desktop{ position: absolute !important; top: -9999px !important;left: -9999px !important;}
.uppercase {text-transform:uppercase;}
.grid {display:grid;}
.grid-2-col{ grid-template-columns: 1fr 1fr;justify-items: center; }
.grid-3-col{ grid-template-columns: 1fr 1fr 1fr;justify-items: center; }


/* buttons */
/* button.default {background-color:green;color:white;} */
.btn-wrapper {padding: 10px;}
button {font-size:inherit;}
.btn-dark, .btn-dark:hover, .btn-dark:active {background-color:#572831;}

/* .nav-item { border: 2px solid orange; padding: 10px 20px;} */
/* .nav-item.active { border: 2px solid blue; padding: 10px 20px;} */

/* images */
img{max-width:100%; height: auto;}

/* forms  */
textarea {width:100%;min-height:30vh;}

/* ============================================== */
/* START page wrapper */
/* ============================================== */
.main-content {position:relative;}
.main-content {	-webkit-filter: grayscale(1);filter: grayscale(1); }
.page-wrapper {margin-bottom: 15vh;}

/* ============================================== */
/* START header */
/* ============================================== */
.instant-quote-header {position:fixed;width:100%;z-index:10;height:40px;}
.instant-quote-header {background-color:#202020;color:white;text-align:center;font-size:1.2em;padding:10px 0 0;}

.account-header {height:40px; background-color:grey;}
.logo-wrapper{margin-top:40px; margin-bottom:10px;}
.logo-wrapper img{width:100%; max-width: 500px; height:auto;}

/* ============================================== */
/* START product description */
/* ============================================== */
.short-description-wrapper {margin: 20px 0;}
.short-description {margin-top:20px;padding-bottom:10px;}

/* ============================================== */
/* START product options */
/* ============================================== */
.product-options ul{ list-style: none; padding:0px; margin:0 0 40px 0;}
.product-options li .option-kind {display:inline-block;color:white; background-color: #3f4044;font-size:18px;padding:2px 10px;}
.product-options li .value{ padding:10px; border:1px solid #3f4044; border-radius: 0 7px 7px;}
.product-options li .value .selected img { border: 2px solid orange;}


.artwork-upload {font-size: 45vw;}
@media only screen and (min-width: 992px) {
	.artwork-upload {font-size: 20vw;}
}

.artwork-upload i {animation: upload-shadow-pulse 2s infinite;}

table.quantity{width:100%}
table.quantity th, table.quantity td {padding:4px;}
table.quantity tr.current-quantity {background-color:#572831;color:white;}


/* ============================================== */
/* START fixed quote box */
/* ============================================== */
footer {position:fixed;background-color:white; left:0; bottom: 0;width:100%;background-color:#572831;color:white;padding:10px;}
footer {-webkit-filter: grayscale(1);filter: grayscale(1); }
.order-summary {max-width:400px;margin:auto;}
/* footer button.btn {animation: add-to-cart-shadow-pulse 2s infinite;} */

/* footer .your-quote .your-quote-title{text-align: center;padding:0;margin:0;margin-bottom:6px;text-transform: inherit;font-size: 1.4em;font-weight:bold;} */

/* footer .your-quote-summary {display:grid; grid-template-columns: 1fr 1fr;} */
/* .your-quote .your-quote-summary div {margin:1px;} */
/* .your-quote button {font-size: 2em; line-height:1.2em;padding: 4px 10px;} */

/* .customoption-kind_preview {display:grid;grid-template-columns: 1fr 1fr;column-gap: 20px;}
.customoption-kind_preview_option-kind {text-align:right;}
.custom_product_addcart button {margin-top:10px;} */
